<% @discussions.each do |discussion| %>
  <div class="row">
        <div class="col-sm-4">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="panel-heading">
                    <img class="[ img-circle pull-left ]" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="Mouse0270" />
                    <h3><%= link_to discussion.name, "/discussions/#{discussion.id}" %></h3>
                    <h5><span>Shared publicly</span> - <span>
                      <% if discussion.created_at > Time.now.beginning_of_day %>
                        <%="#{time_ago_in_words(discussion.created_at)} ago"%>  
                      <% else %>
                        <%= discussion.created_at.strftime("%b %d, %Y") %>
                      <% end %>
                    </span> </h5>
                </div>
                <div class="panel-body">
                    <p><%= raw(discussion.post)%></p>
                </div>
                <div class="panel-footer">
                    <button type="button" class="[ btn btn-default ]">+1</button>
                    <button type="button" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-share-alt ]"></span>
                    </button>
                <div class="input-placeholder">Add a comment...</div>
                </div>
                <div class="panel-google-plus-comment">
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                    <div class="panel-google-plus-textarea">
                        <textarea rows="4"></textarea>
                        <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                        <button type="reset" class="[ btn btn-default ]">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
<% end %>