<div class="overlay">

<br>
<br>
<br> 
<br> 
<br>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h5 class="text-center">
                          SIGN UP</h5>
                      <h1>Signup!</h1>
                    <%= form_tag '/users', method: :post do  %>
                      <div>
                        Name:
                        <input type="text" name="name">
                      </div>

                      <div>
                        Email:
                        <input type="email" name="email">
                      </div>

                      <div>
                        Password:
                        <input type="password" name="password">
                      </div>

                      <div>
                        Confirm Password:
                        <input type="password" name="password_confirmation">
                      </div>

                      <input type="submit" value="Submit">
                    <% end %>
                  <a href="/login" class="btn btn-sm btn-primary btn-block" role="button">
                      LOG IN</a>
              </div>

<h1 style="color: white;"> Why Signing Up?</h1> 

<h4 style="color: white;">Signing Up enables you to create Rwanda Scouts account. This account allows you to post on a disucussion board, coment on them as well as news. You can also browse in scouts troops in Rwanda. Already a member? Click on the "LOG IN" button above and Log In.</h4>

          </div>
      </div>
  </div>
  </div> 
</div>