<h1>Edit Post:</h1>

<%= form_tag "/posts/#{@post.id}", method: :patch do %>
  <ul>
    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <li class="errors"><%= message %></li> 
      <% end %>
    <% end %>
  </ul>
  <div class="row">
    <label for="title">Title of the post:</label><br />
    <input id="title" class="input" name="title" type="text" value="<%= @post.title %>" size="30" /><br />
  </div>
  <div class="row">
    <label for="body">Body of the post:</label><br />
    <textarea id="body" class="input" name="body" value="<%= @post.body %>" rows="15" cols="60"></textarea><br />
  </div>
  <input id="submit_button" type="submit" value="Publish Post" />
<% end %>