<div class="container">
  <!DOCTYPE html>
  <html>
  <head>
    <title>Posts</title>
  </head>
  <body>

      <div class="row">
        <% @posts.each_slice(3) do |three_posts| %>
            <div class="row">
            <% three_posts.each do |post| %>
              <div class="col-md-4">
                <h2><%= link_to post.title, "/posts/#{post.id}" %></h2>
                <p class="date"> 
                  <% if post.created_at > Time.now.beginning_of_day %>
                    <%="#{time_ago_in_words(post.created_at)} ago"%>  
                  <% else %>
                  <%= post.created_at.strftime("%b %d, %Y") %>
              <% end %>
                </p>
              </div>
            <% end %>
            </div>
        <% end %>
      </div>

  </body>
  </html>
</div>