.navbar {
    color: white;
    background-color: purple;
}
.white {
  color: white;
  font-style: bold;
}

.navbar-brand{
  color: white;
  font-style: bold;
}

.errors{
  color: red;
  font-style: bold;
}

form {
  text-align: center;
}