.navbar {
    color: white;
    background-color: purple;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
.white {
  color: white;
  font-style: bold;
}

.navbar-brand{
  color: white;
  font-style: bold;
}

.errors{
  color: red;
  font-style: bold;
}